<!doctype html>
<html>
<head>
    <title>Wedding Playlist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="box">
        <section id="title">
        <h1 class="homepage">Reception Planner</h1>
        <p class="info">Pair every moment with a special song ✨</p><br>
        <section id="logInOrSignUp">        
            <a href="/login" class="btn btn-default" class=><span class="fa fa-user mainPageBtn"></span>Login</a><br>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user mainPageBtn"></span>Signup</a>
        </section>
    </section>
    </section>


</body>
</html>
